useDynLib(ppmSuite)

export(gaussian_ppmx)
export(ordinal_ppmx)
export(sppm)
export(rppmx)
export(ccp_ppm)
export(icp_ppm)
export(curve_ppmx)

importFrom("stats", "quantile")
importFrom("Matrix", "bandSparse")
